@charset "UTF-8";
@font-face {
    font-family: "android";
     src: url(fontes/idroid.otf) format('opentype');
}
header{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom,  #3ad07e, #1a5c38 ) ;  
    padding: 15px;
    font-size: small;
    
}
header>nav{   
    text-align: left;
}
nav> a{
    color: white;
    text-decoration: none;
    padding-right: 15px;
    font-size: 12px;


}
body{
    margin : 0%;
    background-color: #84e1ad;
    


}
main{
    background-color: white;
    padding: 15px;
    margin-left: 28%;
    margin-right: 28%;
    text-align: center;
}
a{
    color: black;
    text-decoration: none,;
}
main>h1{
    margin: 0px;
    text-align: left;

}
main>h2{
    text-align: left;
}
main>p{
    text-align: justify;
}
iframe{
    border: 30px solid #1a5c38;
    
    
    align-items: center;
    justify-content: center;
    
    
}
.video{
text-align: center;
padding: 0%;
margin: 0%;
}
main.lista{
    background-color: white;
    padding: 15px;
    border-radius: 0%;

}
.lista>h1{
    padding: 15px;
    margin-top: 0%;
    background-color: #2fa866;
    border-radius: 20px 20px 0px 0px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: medium;
    

}
.lista{
    background-color: #abc7ab;
    
    border-radius: 20px;
}
footer{
    background-color: black;
    text-align: center;
    color: #1a5c38;
    padding-bottom: 1px;
    
    

}



