@charset "UTF-8";
@font-face {
    font-family: "android";
     src: url(fontes/idroid.otf) format('opentype');
}
header{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom,  #3ad07e, #1a5c38 ) ;  
    padding: 15px;
    font-size: small;
    
}
header>nav{   
    text-align: left;
}
nav> a{
    color: white;
    text-decoration: none;
    padding-right: 15px;
    font-size: 12px;


}
body{
    margin : 0%;
    background-color: #c5ebd6;
    


}
main{
    background-color: white;
    padding: 15px;
    max-width: 800px;
    /*como centralizar uma DIV*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
}
a{
    color: black;
    text-decoration: none,;
}
main>h1{
    margin: 0px;
    text-align: left;
    color: #1a5c38;
    font-family: "android";
    

}
main>h2{
    text-align: left;
    background-image: linear-gradient(to right,  #3ad07e79, rgba(255, 255, 255, 0.473) );
    color: #1a5c38;
    font-family: "android";
    
    
    
}
main>p{
    text-align: justify;
}
main>p>a{
    text-decoration: none;
    color: #299157fa;
    font-weight: bold;
    background-color: #21814c83;
}
iframe{
    border: 30px solid #1a5c38;   
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    
    
}
.video{
text-align: center;
padding: 0px;

max-width: 800px;
}
main.lista{
    background-color: white;
    padding: 15px;
    border-radius: 0%;

}
aside>h1{
    padding: 15px;
    margin-top: 0%;
    background-color: #2fa866;
    border-radius: 20px 20px 0px 0px;
    text-align: justify;
    color: white;
    font-weight: bold;
    font-size: medium;
      
    padding: 15px;
    

}
aside>p{
    text-align: justify;
    padding: 10px;

}
aside{
    background-color: #abc7ab;
    padding: 15;
    
    border-radius: 20px;
}
footer{
    background-color: black;
    text-align: center;
    color: #1a5c38;
    padding-bottom: 1px;
    
}
footer>p{
    padding-top: 10px;
}
strong{
    color: #2fa866;
}



