@charset "UTF-8";
@font-face {
    font-family: 'android';
     src: url(fontes/idroid.otf) format('opentype');
     font-weight: normal;

}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* 
#e5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

/* todo documento tem um root, é a raiz do documento, tudo o q é escrito aqui, se faz para todo o projeto
podemos por ate mesmo variaveis aqui*/
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
/*variaveis de cores criadas*/
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'android';
    /*variavel de font*/


}
*{
    margin: 0%;
    padding: 0%;
}



body{
    margin : 0%;
    background-color: var(--cor0);/*variavel sendo usada*/
    font-family: var(--font-padrao);
    
}
header{
    min-height: 150px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));  
    padding-top: 40px;
    font-size: small;
    padding-bottom: 0%;
    
}

header h1{
   
    color: white;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px black;
    margin-bottom: 20px;
    
    
}

header p{
    color: white;
    font-size: 1.2em;
    font-family: var(--font-padrao);
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px black;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 1s; /*animaçaõ da transição do hover*/
    

}
nav>a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
}


nav{
    text-align: left;
    padding: 10px;
    background-color: #063d1e;
    font-size: 12px;
    box-shadow: 0px 7px 7px black;


}
main{
    background-color: white;
    padding: 15px;
    max-width: 800px;
    min-width: 400;
    /*como centralizar uma DIV
    responsividade, defina um tamanho máximo e minimo para atela, e deixe a margem automática*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    margin-bottom: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  
}
main img{
    width: 100%;
}
main h1{
    margin: 0px;
    text-align: left;
    color: var(--cor5);
    font-family: var(--fonte-android);
    

}
main h2{
    text-align: left;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    text-indent: 8px;
    
    
    
}
main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px; /*recuo do inicio do paragrafo*/
    line-height: 1.1em;/*espaçamento entre linhas*/
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px;
}
main a{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;

}
main a:hover{
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor5);

}


main img.pequena{
    max-width: 350px;
    display: block; /*uma imagem por padraonao é um bloco igual aos outros por isso nao centraliza,com esse display ela se torna um bloco*/
    margin:auto;
}



a{
    color: black;
    text-decoration: none,;
}



iframe{
    border: 30px solid #1a5c38;   
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    
    
}
.video{
display: block;
margin: auto;
padding: 0px;

max-width: 800px;
}
main.lista{
    background-color: white;
    padding: 15px;
    border-radius: 0%;

}
aside>h1{
    padding: 15px;
    margin-top: 0%;
    background-color: #2fa866;
    border-radius: 20px 20px 0px 0px;
    text-align: justify;
    color: white;
    font-weight: bold;
    font-size: medium;
      
    padding: 15px;
    

}
aside>p{
    text-align: justify;
    padding: 10px;

}
aside{
    background-color: #abc7ab;
    padding: 15;
    
    border-radius: 20px;
}
footer{
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding-bottom: 1px;
    
}
footer>p{
    padding-top: 10px;
}
strong{
    color: #2fa866;
}



